@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);

    --weight-400: 400;
    --weight-700: 700;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 15px;
    background-color: var(--slate-300);
}

.container {
    max-width: 300px;
    margin: 0 auto;
    background-color: var(--white);
    padding: 12px;
    border-radius: 10px;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.container .content {
    text-align: center;
}

.container h1 {
    font-size: 1.4rem;
    font-weight: var(--weight-700);
    color: var(--slate-900);
    margin-bottom: 1rem;
}

.container p {
    font-weight: var(--weight-400);
    color: var(--slate-500);
    margin-bottom: 1rem;
}

/* Media queries */
@media screen and (max-width: 375px) {
    .container {
        max-width: 300px;
        padding: 18px;
        border-radius: 18px;
    }

    .container .content {
        padding: 0 1rem;
    }

    .container img {
        border-radius: 12px;
    }

    .container h1 {
        font-size: 1.2rem;
    }

}